h1
{
	font-family: Arial, sans-serif;
	padding-left: 870px;
}


h4 
{	
	font-family: Arial, sans-serif;
	text-decoration: underline;
	padding-left: 905px;
}


img
{
		padding-left: 615px;
}
	